*{
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    margin: auto;
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: inherit;
} 
h1 {
    font-size: 2em;
}
.links {
    width: 60%;
    background-color: lightslategray;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.links ul{
    text-align: center;
}
.links ul li{
    padding: 0.5em
}
p{
    font-size: 1.2em;
    line-height: 1.5;
}
#ingredients, #steps{
    width: 60%;
    background-color: gold;
    padding: 2em;
    border-radius: 1em;
}
#ingredients h2, #steps h2{
    margin:0;
}
#ingredients ul li{
    padding:0.5em;
}
#steps{
    width: 100%;
    background-color: lightblue;
    margin-top: 1em;
}
#steps ol li{
    padding:0.5em;
    line-height: 1.5;
}